.bodyContainer {
  width: 100%;
}

.bodyWrapper {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 600px;
}

.formOneContainer {
  width: 500px;
}

.formOneRows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .formContainer {
    width: 400px;
  }
  .formOneContainer {
    width: 380px;
  }
}
