.formOneContainer {
  width: 500px;
}

.formOneRows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .formOneContainer {
    width: 380px;
  }
}
