.formThreeContainer {
  margin-top: 30px;
}

.prevButton {
  cursor: pointer;
}

.greyBox {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: rgb(204, 200, 200);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.formThreeRows {
  margin-bottom: 30px;
}

.greyBox div {
  margin-left: 10px;
}

.whatsappImg img {
  width: 100px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .rupeeSymbol {
    font-size: 50px;
    font-weight: bold;
  }
}
