.heading {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #08123b;
  color: white;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 25px;
  }
}
