.formConatiner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  /* border: 1px solid black; */
}

.form {
  /* border: 1px solid black; */
  width: 600px;
}

.stepOne-destinations {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stepOne-rows {
  margin-bottom: 30px;
}
.stepOne-destinations div {
  width: 280px;
}
