.formConatiner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  /* border: 1px solid black; */
}

.form {
  width: 600px;
}

.stepOne-destinations {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stepOne-rows {
  margin-bottom: 30px;
}
.stepOne-destinations div {
  width: 280px;
}

.stepTwo-prevDataContainer {
  display: flex;
  height: 80px;
  justify-content: space-around;
}

.stepTwo-prevData {
  width: 500px;
}

.stepTwo-prevData h5 {
  color: rgb(107, 96, 96);
}

.prevButton {
  width: 50px;
}

.bidAmountContainer {
  display: flex;
  justify-content: center;
  height: 200px;
  /* border: 1px solid red; */
}

.bidAmount {
  display: flex;
  margin-top: 90px;
  margin-left: 170px;
  width: 300px;
}

.rupeeSymbol {
  font-size: 50px;
  font-weight: bold;
}

.negotiate {
  display: flex;
  justify-content: center;
  align-items: center;
}
