.formConatiner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.form {
  width: 600px;
}

.stepOne-destinations {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stepOne-rows {
  margin-bottom: 30px;
}
.stepOne-destinations div {
  width: 280px;
}

.journeyDetails-Container {
  display: flex;
  height: 80px;
  justify-content: space-around;
}

.journeyDetails {
  width: 500px;
}

.journeyDetails h5 {
  color: rgb(107, 96, 96);
  margin-bottom: 5px;
}

.prevButton {
  color: #303fa0;
  width: 50px;
  cursor: pointer;
}

.formTwoConatiner {
  display: flex;
  justify-content: center;
  height: 200px;
  /* border: 1px solid red; */
}

.bidAmount {
  display: flex;
  margin-top: 90px;
  margin-left: 170px;
  width: 300px;
}

.rupeeSymbol {
  font-size: 50px;
  font-weight: bold;
}

.negotiate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bidAmountDetails {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.formThreeContainer {
  display: flex;
  justify-content: center;
}

.formThree {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.formThreeRows {
  margin-top: 30px;
}

.whatsapp {
  display: flex;
  height: 30px;
  background-color: rgb(233, 227, 227);
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.whatsapp div:nth-child(1) {
  margin-left: 10px;
}

.whatsapp div img {
  width: 90px;
}

.twoThreeDetails {
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.bidSummary {
  display: flex;
  width: 570px;
  justify-content: space-between;
}

.formThreeData {
  margin-top: 5px;
}

.formThreeData h5 {
  color: rgb(107, 96, 96);
  margin-bottom: 5px;
}

.finalBidAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finalBidAmount div:nth-child(1) {
  font-size: 40px;
  font-weight: bold;
}

.finalBidAmount div:nth-child(2) {
  color: rgb(107, 96, 96);
}

.formFourContainer {
  margin-top: 20px;
}
.otpInstructions {
  margin-left: 10px;
  width: 400px;
}
.otpInstructions span {
  color: #303fa0;
  cursor: pointer;
}

.formFour {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
