.formConatiner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.form {
  width: 600px;
}


.journeyDetails-Container {
  display: flex;
  height: 80px;
  justify-content: space-around;
}


.prevButton {
  color: #303fa0;
  width: 50px;
  cursor: pointer;
}

.formFourContainer {
  margin-top: 20px;
}
.otpInstructions {
  margin-left: 10px;
  width: 400px;
}
.otpInstructions span {
  color: #303fa0;
  cursor: pointer;
}

.formFour {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
