.formFourContainer {
  margin-top: 30px;
}

.otpInstructions {
  width: 400px;
}

.formFourOtp {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .otpInstructions {
    width: 300px;
  }
}
