.bodyContainer {
  width: 100%;
}

.bodyWrapper {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 600px;
}

.formOneDataContainer {
  width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journeyDetails h5 {
  margin-bottom: 5px;
  color: rgba(179, 167, 167, 0.979);
}

.formTwoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.formTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.rupeeSymbol {
  font-size: 70px;
  font-weight: bold;
  
}

.formTwoCheckBox {
  display: flex;
  justify-content: center;
}

.formTwoDataContainer {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.twoThreeDetails {
  margin-top: 20px;
}
.bidSummary {
  display: flex;
  justify-content: space-between;
}

.formThreeData h5 {
  margin-bottom: 5px;
  color: rgba(179, 167, 167, 0.979);
}

.finalBidAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalBidAmount div:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .formContainer {
    width: 400px;
  }
  .formOneContainer {
    width: 380px;
  }
  .formOneDataContainer {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
